azure-functions==1.22.1
azure-storage-blob==12.28.0
azure-storage-file-datalake==12.23.0
pandas>=2.1.0
numpy>=1.26.0
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.3.2
prophet
statsmodels
imbalanced-learn==0.11.0
langchain==0.1.16
langchain-groq==0.1.3
uvicorn==0.30.1
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
typing-extensions>=4.9.0
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
azure-ai-projects==1.1.0b4
azure-ai-agents==1.2.0b5
azure-identity==1.25.1
azure-cosmos==4.15.0
snowflake-connector-python

fastapi
uvicorn[standard]
deltalake>=0.18.0
pyarrow>=14.0.0